
.container{
  margin: 0px 15vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
@media only screen and (max-width: 1000px) {
  .container{
    margin: 0px 25px;
  }
  .grid-container {
    display: block;
    grid-template-columns: none;
    padding: 10px;
  }
}


.grid-item {
  padding: 20px;
 
}
.body-container{
  background: #f4f2f2;
  width: -webkit-fill-available;
  min-height: 100vh;
}
button:focus{
  outline: none;
  cursor: pointer;
}